*{
  margin: 0;
}

.App{
  background-color: #fafafa;
  height: fit-content;
}

.app__header{
  font-family: cursive;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.modal__header{
  font-family: cursive;
}

.app__signup{
}

.modal__input{
  display: block !important;
  margin-left: 20px;
  padding: 10px;
}