*{
  margin: 0;
}

.App{
  background-color: #fafafa;
  height: fit-content;
}

.app__postsRight{
  margin-left: 20px;
}

.instagram__embed{
  position: sticky;
  top: 72px;
}

@media screen and (max-width: 768px){
  .instagram__embed{
    display: none;
  }
}

.app__header{
  font-family: cursive;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.modal__header{
  font-family: cursive;
}


.modal__input{
  display: block !important;
  margin-left: 20px;
  padding: 10px;
}